{{- if .Capabilities.APIVersions.Has "batch/v1/CronJob" }}
apiVersion: batch/v1
{{- else }}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: {{ template "rclone-copy.fullname" . }}
  labels:
    app: {{ template "rclone-copy.name" . }}
    chart: {{ template "rclone-copy.chart" . }}
    release: {{ .Release.Name }}
    {{- range $key, $value := .Values.labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  suspend: {{ .Values.suspend }}
  schedule: "{{ .Values.schedule }}"
  successfulJobsHistoryLimit: {{ .Values.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.failedJobsHistoryLimit }}
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
        {{- if or .Values.awsRole .Values.annotations }}
          annotations:
          {{- if .Values.awsRole }}
            iam.amazonaws.com/role: {{ .Values.awsRole }}
          {{- end }}
          {{- range $key, $value := .Values.annotations }}
            {{ $key | quote }}: {{ $value | quote }}
          {{- end }}
        {{- end }}
          labels:
            app: {{ template "rclone-copy.name" . }}
            release: {{ .Release.Name }}
            {{- range $key, $value := .Values.labels }}
            {{ $key }}: {{ $value }}
            {{- end }}
        spec:
          {{- if .Values.serviceAccountName }}
          serviceAccountName: {{ .Values.serviceAccountName }}
          {{- end }}
          {{- if .Values.tolerations }}
          tolerations:
{{ toYaml .Values.tolerations | indent 12 }}
          {{- end }}
          affinity:
            {{- if .Values.nodeAffinity }}
            nodeAffinity:
{{ toYaml .Values.nodeAffinity | indent 14 }}
            {{- end }}
          containers:
          - name: rclone-container
            image: openbridge/ob_bulkstash:{{ .Values.imageRelease }}        
            
            command:
              - /bin/bash
            args:
              - -c
              # copy as workaround for rclone.conf read only (see https://github.com/rclone/rclone/issues/3655)
              - >-
                cp /root/.config/rclone/rclone_ro.conf /root/.config/rclone/rclone.conf &&
                rclone copy -v {{ .Values.arguments | join " " }} --include-from /root/include-pattern.conf "{{ .Values.sync.source.name }}:{{ .Values.sync.source.path }}" "{{ .Values.sync.dest.name }}:{{ .Values.sync.dest.path }}"
            
            volumeMounts:
              - name: config
                # This is the default path where the rclone implementation assumes the config is located
                mountPath: "/root/.config/rclone/rclone_ro.conf"
                subPath: "rclone.conf"
              - name: config
                mountPath: "/root/include-pattern.conf"
                subPath: "include-pattern.conf"
            
            resources:
{{ toYaml .Values.resources | indent 14 }}
          
          restartPolicy: {{ .Values.restartPolicy }}
          volumes:
            - name: config
              configMap:
                name: rclone-config-{{ .Release.Name }}
      backoffLimit: {{ .Values.backoffLimit }}

