{{- define "producer-app.podTemplate" -}}
{{- $root := . -}}
metadata:
{{- if or .Values.podAnnotations (and .Values.deployment .Values.files) }}
  annotations:
  {{- if and .Values.deployment .Values.files }}
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
  {{- end }}
  {{- range $key, $value := .Values.podAnnotations }}
    {{ $key | quote }}: {{ $value | quote }}
  {{- end }}
{{- end }}
  labels:
    {{- include "common-app.selectorLabels" . | nindent 4 }}
    streams-bootstrap/kind: {{ .Chart.Name }}
    {{- range $key, $value := .Values.podLabels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
{{- include "common-app.pod-spec" . }}
  {{- if not .Values.deployment }}
  restartPolicy: {{ .Values.restartPolicy }}
  {{- end }}
  containers:
  - name: "kafka-app"
    image: "{{ .Values.image }}:{{ .Values.imageTag }}"
    imagePullPolicy: "{{ .Values.imagePullPolicy }}"
    resources:
{{ toYaml .Values.resources | indent 6 }}
    env:
    {{- include "common-app.common-env" . | nindent 6 }}
    {{- if hasKey .Values.kafka "outputTopic" }}
      - name: "{{ .Values.configurationEnvPrefix }}_OUTPUT_TOPIC"
        value: {{ .Values.kafka.outputTopic | quote }}
    {{- end }}
    {{- if and (hasKey .Values.kafka "labeledOutputTopics") (.Values.kafka.labeledOutputTopics) }}
      - name: "{{ .Values.configurationEnvPrefix }}_LABELED_OUTPUT_TOPICS"
        value: "{{- range $key, $value := .Values.kafka.labeledOutputTopics }}{{ $key }}={{ $value }},{{- end }}"
    {{- end }}
      - name: JAVA_TOOL_OPTIONS
        value: '-XX:MaxRAMPercentage={{ printf "%.1f" .Values.javaOptions.maxRAMPercentage }}
                {{ .Values.javaOptions.others | join " " }}'
    {{- range .Values.ports }}
    ports:
      - containerPort: {{ .containerPort }}
        name: {{ .name | quote }}
        {{- if .protocol }}
        protocol: {{ .protocol | quote }}
        {{- end }}
    {{- end }}
    {{- if .Values.livenessProbe }}
    livenessProbe:
    {{- .Values.livenessProbe | toYaml | nindent 6 }}
    {{- end }}
    {{- if .Values.readinessProbe }}
    readinessProbe:
    {{- .Values.readinessProbe | toYaml | nindent 6 }}
    {{- end }}
    {{- if or (.Values.files) (.Values.secretFilesRefs) }}
    volumeMounts:
      {{- include "common-app.volume-mounts" . | nindent 6 }}
    {{- end }}
  {{- if or (.Values.files) (.Values.secretFilesRefs) }}
  volumes:
    {{- include "common-app.volumes" . | nindent 4 }}
  {{- end }}
{{- end -}}
