{{- define "producer-app.podTemplate" -}}
metadata:
{{- include "common-app.pod-metadata" . }}
spec:
{{- include "common-app.pod-spec" . }}
  {{- if not .Values.deployment }}
  restartPolicy: {{ .Values.restartPolicy }}
  {{- end }}
  containers:
  {{- include "common-app.common-kafka-container" . | nindent 2 }}
    env:
    {{- include "common-app.common-env" . | nindent 6 }}
    {{- if hasKey .Values.kafka "outputTopic" }}
      - name: "{{ .Values.configurationEnvPrefix }}_OUTPUT_TOPIC"
        value: {{ .Values.kafka.outputTopic | quote }}
    {{- end }}
    {{- if and (hasKey .Values.kafka "labeledOutputTopics") (.Values.kafka.labeledOutputTopics) }}
      - name: "{{ .Values.configurationEnvPrefix }}_LABELED_OUTPUT_TOPICS"
        value: "{{- range $key, $value := .Values.kafka.labeledOutputTopics }}{{ $key }}={{ $value }},{{- end }}"
    {{- end }}
      - name: JAVA_TOOL_OPTIONS
        value: '{{ include "common-app.java-tool-options" . }}'
    {{- if .Values.ports }}
    ports:
      {{- include "common-app.ports" . | nindent 6 }}
    {{- end }}
    {{- if or (.Values.files) (.Values.secretFilesRefs) }}
    volumeMounts:
      {{- include "common-app.volume-mounts" . | nindent 6 }}
    {{- end }}
  {{- if or (.Values.files) (.Values.secretFilesRefs) }}
  volumes:
    {{- include "common-app.volumes" . | nindent 4 }}
  {{- end }}
{{- end -}}
