{{- define "producer-app.podTemplate" -}}
metadata:
{{- include "kafka-app.pod-metadata" . }}
spec:
{{- include "kafka-app.pod-spec" . }}
  {{- if not .Values.deployment }}
  restartPolicy: {{ .Values.restartPolicy }}
  {{- end }}
  containers:
  {{- include "kafka-app.kafka-container" . | nindent 2 }}
    env:
    {{- include "kafka-app.common-env" . | nindent 6 }}
    {{- include "kafka-app.output-env" . | indent 6 }}
      - name: JAVA_TOOL_OPTIONS
        value: '{{ include "kafka-app.java-tool-options" . }}'
    {{- if .Values.ports }}
    ports:
      {{- include "kafka-app.ports" . | nindent 6 }}
    {{- end }}
    {{- if or (.Values.files) (.Values.secretFilesRefs) }}
    volumeMounts:
      {{- include "kafka-app.volume-mounts" . | nindent 6 }}
    {{- end }}
  {{- if or (.Values.files) (.Values.secretFilesRefs) }}
  volumes:
    {{- include "kafka-app.volumes" . | nindent 4 }}
  {{- end }}
{{- end -}}
