{{- if not .Values.deployment -}}
  {{- if .Values.schedule -}}
    {{- if .Capabilities.APIVersions.Has "batch/v1/CronJob" }}
apiVersion: batch/v1
    {{- else }}
apiVersion: batch/v1beta1
    {{- end }}
kind: CronJob
  {{- else -}}
apiVersion: batch/v1
kind: Job
  {{- end }}
metadata:
  name: {{ include "kafka-app.fullname" . }}
  {{- include "kafka-app.annotations" . }}
  labels:
    {{- include "kafka-app.labels" . | nindent 4 }}
    streams-bootstrap/kind: {{ .Chart.Name }}
    {{- range $key, $value := .Values.labels }}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end }}
spec:
  {{- if .Values.schedule }}
  suspend: {{ .Values.suspend }}
  schedule: {{ quote .Values.schedule }}
  successfulJobsHistoryLimit: {{ .Values.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.failedJobsHistoryLimit }}
  concurrencyPolicy: Replace
  jobTemplate:
    metadata:
      {{- include "kafka-app.annotations" . | indent 4 }}
      labels:
        {{- include "kafka-app.selectorLabels" . | nindent 8 }}
        streams-bootstrap/kind: {{ .Chart.Name }}
        {{- range $key, $value := .Values.labels }}
        {{ $key | quote }}: {{ $value | quote }}
        {{- end }}
    spec:
      {{- include "producer-app.jobSpec" . | indent 6 }}
  {{ else }}
  {{- include "producer-app.jobSpec" . | indent 2 }}
  {{- end -}}
{{- end }}
