{{- if .Values.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "producer-app.fullname" . }}
  {{- include "producer-app.annotations" . }}
type: Opaque
data:
  {{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | b64enc }}
  {{- end }}
{{- end }}
