# Standard rclone config file. See https://rclone.org/docs/ for more details.
[my-source]
type = ftp
host = ftp.my-source.com
user = my-user
pass = 1FbNBhe7ndNsFcjTVofIarv1oP3d

[s3]
type = s3
provider = AWS
env_auth = true
region = eu-central-1
location_constraint = EU

