{{- if .Values.secrets }}
apiVersion: v2
kind: Secret
metadata:
  name: {{ include "streams-app.fullname" . }}
  {{- include "streams-app.annotations" . }}
  labels:
    {{- include "streams-app.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.labels }}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end }}
type: Opaque
data:
  {{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | b64enc }}
  {{- end }}
{{- end }}
