{{- if and .Values.persistence.enabled (not .Values.persistence.size) }}
{{- fail "When persistence is enabled, you must set .Values.persistence.size" }}
{{- end }}

{{- include "common-app.deployment" . }}
spec:
{{- include "common-app.deployment-spec" . }}
  template:
    metadata:
{{- include "common-app.pod-metadata" . | indent 4 }}
    spec:
{{- include "common-app.pod-spec" . | indent 4 }}
      containers:
        {{- include "common-app.common-kafka-container" . | nindent 8 }}
          env:
          {{- include "common-app.common-env" . | nindent 12 }}
          {{- include "common-app.group-instance-id-env" . | indent 12 }}
          {{- include "common-app.input-env" . | indent 12 }}
          {{- include "common-app.group-id-env" . | indent 12 }}
            - name: JAVA_TOOL_OPTIONS
              value: '{{ include "common-app.java-tool-jmx-options" . }}
                {{ include "common-app.java-tool-options" . }}'
        {{- if or (.Values.files) (and .Values.persistence.enabled .Values.statefulSet) (.Values.secretFilesRefs) }}
          volumeMounts:
            {{- include "common-app.volume-mounts" . | nindent 12 }}
            {{- if and .Values.persistence.enabled .Values.statefulSet }}
            - name: datadir
              mountPath: /tmp/kafka-consumer
            {{- end }}
        {{- end }}
        {{- if or (.Values.jmx.enabled) (.Values.ports) }}
          ports:
            {{- include "common-app.ports" . | nindent 12 }}
            {{- if .Values.jmx.enabled }}
            - containerPort: {{ .Values.jmx.port }}
              name: jmx
            {{- end }}
        {{- end }}
      {{- if .Values.prometheus.jmx.enabled }}
{{- include "common-app.prometheus-container" . | nindent 8 }}
      {{- end }}
      {{- if or (.Values.prometheus.jmx.enabled) (.Values.files) (.Values.secretFilesRefs) }}
      volumes:
        {{- if .Values.prometheus.jmx.enabled }}
        - name: jmx-config
          configMap:
            name: {{ include "common-app.fullname" . }}-jmx
        {{- end }}
        {{- include "common-app.volumes" . | nindent 8 }}
      {{- end }}
