nameOverride: bakdata-producer-app-job

image: producerApp
imageTag: latest
imagePullPolicy: Always

configurationEnvPrefix: "APP"

streams:
#  brokers: "test:9092"
#  schemaRegistryUrl: "url:1234"
  config: {}
#    max.poll.records: 500
#    Note that YAML may convert large integers to scientific notation. Use Strings to avoid this.
#    max.request.size: "1000000"
#  outputTopic: output

#commandLine:
#  MY_CLI_PARAM: "foo-bar"
#
#debug: false
#
env:
#  MY_ENV_VARIABLE: foo-bar
#
#secrets:
#  MY_SECRET: fo-bar

# tolerations:
#   - key: "foo"
#     operator: "Exists"
#     effect: "NoSchedule"
#   - key: "bar"
#     operator: "Exists"
#     effect: "NoSchedule"

# nodeAffinity:
#   requiredDuringSchedulingIgnoredDuringExecution:
#     nodeSelectorTerms:
#     - matchExpressions:
#       - key: foo
#         operator: In
#         values:
#         - bar
#         - baz
#   preferredDuringSchedulingIgnoredDuringExecution:
#   - weight: 1
#     preference:
#       matchExpressions:
#       - key: foo
#         operator: In
#         values:
#         - bar
#         - baz

resources:
  requests:
    cpu: 200m
    memory: 300Mi
  limits:
    cpu: 500m
    memory: 2G

javaOptions:
  maxRAMPercentage: 75
  others: []
#   - "-XX:MinRAMPercentage=50.0"
