{{- include "common-app.cleanup-job" . }}
spec:
{{- include "common-app.cleanup-job-spec" . | nindent 2 }}
  template:
    metadata:
{{- include "common-app.cleanup-pod-metadata" . | indent 4 }}
    spec:
{{- include "common-app.cleanup-pod-spec" . | indent 4 }}
      containers:
        {{- include "common-app.common-kafka-container" . | nindent 8 }}
          args:
              {{- if .Values.kafka.deleteOutput }}
            - clean
              {{- else }}
            - reset
              {{- end }}
          env:
            {{- include "common-app.common-env" . | nindent 12 }}
            {{- include "common-app.input-env" . | indent 12 }}
            {{- include "common-app.group-id-env" . | indent 12 }}
            - name: JAVA_TOOL_OPTIONS
              value: '{{ include "common-app.java-tool-options" . }}'
          {{- if or (.Values.files) (.Values.secretFilesRefs) }}
          volumeMounts:
              {{- include "common-app.volume-mounts" . | nindent 12 }}
          {{- end }}
