{{- $root := . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common-app.fullname" . }}
  {{- include "common-app.annotations" . }}
  labels:
    {{- include "common-app.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.labels }}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end }}
spec:
  ttlSecondsAfterFinished: 30
  template:
    metadata:
    {{- if .Values.podAnnotations }}
      annotations:
      {{- range $key, $value := .Values.podAnnotations }}
        {{ $key | quote }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
      labels:
        {{- include "common-app.selectorLabels" . | nindent 8 }}
        {{- range $key, $value := .Values.podLabels }}
        {{ $key }}: {{ $value }}
        {{- end }}
    spec:
      {{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      restartPolicy: {{ .Values.restartPolicy }}
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- tpl (toYaml .) $root | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: "kafka-app"
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          imagePullPolicy: "{{ .Values.imagePullPolicy }}"
          resources:
{{ toYaml .Values.resources | indent 12 }}
          args:
            {{- if .Values.kafka.deleteOutput }}
            - clean
            {{- else }}
            - reset
            {{- end }}
          env:
            - name: ENV_PREFIX
              value: {{ .Values.configurationEnvPrefix }}_
            {{- range $key, $value := .Values.kafka.config }}
            - name: {{ printf "KAFKA_%s" $key | replace "." "_" | upper | quote }}
              value: {{ $value | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "bootstrapServers" }}
            - name: "{{ .Values.configurationEnvPrefix }}_BOOTSTRAP_SERVERS"
              value: {{ .Values.kafka.bootstrapServers | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "schemaRegistryUrl" }}
            - name: "{{ .Values.configurationEnvPrefix }}_SCHEMA_REGISTRY_URL"
              value: {{ .Values.kafka.schemaRegistryUrl | quote }}
            {{- end }}
            {{- if and (hasKey .Values.kafka "inputTopics") (.Values.kafka.inputTopics) }}
            - name: "{{ .Values.configurationEnvPrefix }}_INPUT_TOPICS"
              value: {{ .Values.kafka.inputTopics | join "," | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "inputPattern" }}
            - name: "{{ .Values.configurationEnvPrefix }}_INPUT_PATTERN"
              value: {{ .Values.kafka.inputPattern | join "," | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "errorTopic" }}
            - name: "{{ .Values.configurationEnvPrefix }}_ERROR_TOPIC"
              value: {{ .Values.kafka.errorTopic | quote }}
            {{- end }}
            {{- $delimiter := ";" }}
            {{- if and (hasKey .Values.kafka "labeledInputTopics") (.Values.kafka.labeledInputTopics) }}
            - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_TOPICS"
              value: "{{- range $key, $value := .Values.kafka.labeledInputTopics }}{{ $key }}={{ $value | join $delimiter }},{{- end }}"
            {{- end }}
            {{- if and (hasKey .Values.kafka "labeledInputPatterns") (.Values.kafka.labeledInputPatterns) }}
            - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_PATTERNS"
              value: "{{- range $key, $value := .Values.kafka.labeledInputPatterns }}{{ $key }}={{ $value }},{{- end }}"
            {{- end }}
            {{- if hasKey .Values.kafka "applicationId" }}
            - name: "{{ .Values.configurationEnvPrefix }}_APPLICATION_ID"
              value: {{ .Values.kafka.applicationId | quote }}
            {{- end }}
            {{- range $key, $value := .Values.secrets }}
            - name: "{{ $key }}"
              valueFrom:
                secretKeyRef:
                  name: {{ include "common-app.fullname" . }}
                  key: "{{ $key }}"
            {{- end }}
            {{- range $key, $value := .Values.secretRefs }}
            - name: "{{ $key }}"
              valueFrom:
                secretKeyRef:
                  name: {{ $value.name }}
                  key: "{{ $value.key }}"
            {{- end }}
            {{- range $key, $value := .Values.commandLine }}
            - name: "{{ $root.Values.configurationEnvPrefix }}_{{ $key }}"
              value: {{ $value | quote }}
            {{- end }}
            {{- range $key, $value := .Values.env }}
            - name: {{ $key | quote }}
              value: {{ $value | quote }}
            {{- end }}
            - name: JAVA_TOOL_OPTIONS
              value: '-XX:MaxRAMPercentage={{ printf "%.1f" .Values.javaOptions.maxRAMPercentage }}
                {{ .Values.javaOptions.others | join " " }}'
          {{- if or (.Values.files) (.Values.secretFilesRefs) }}
          volumeMounts:
            {{- range $key, $value := .Values.files }}
            - name: config
              mountPath: {{ printf "%s/%s" $value.mountPath $key | quote }}
              subPath: {{ $key | quote }}
            {{- end }}
            {{- range .Values.secretFilesRefs }}
            - name: {{ .volume }}
              mountPath: {{ .mountPath }}
              {{- if .readOnly }}
              readOnly: true
              {{- end }}
              {{- if .subPath}}
              subPath: {{.subPath }}
              {{- end }}
            {{- end }}
        {{- end }}
      {{- if or (.Values.files) (.Values.secretFilesRefs) }}
      volumes:
        {{- if .Values.files }}
        - name: config
          configMap:
            name: {{ include "common-app.fullname" . }}
        {{- end }}
        {{- range .Values.secretFilesRefs }}
        - name: {{ .volume }}
          secret:
            secretName: {{ .name }}
        {{- end }}
      {{- end }}
  backoffLimit: {{ .Values.backoffLimit }}
