nameOverride: bakdata-streams-app

replicaCount: 1

image: streamsApp
imageTag: latest
imagePullPolicy: Always

configurationEnvPrefix: "APP"

resources:
  requests:
    cpu: 200m
    memory: 300Mi
  limits:
    cpu: 500m
    memory: 2G

streams:
#  brokers: "test:9092"
#  schemaRegistryUrl: "url:1234"
  staticMembership: false
  config:
#    max.poll.records: 500
#    Note that YAML may convert large integers to scientific notation. Use Strings to avoid this.
#    max.request.size: "1000000"
#  inputTopics:
#  - input
#  - input2
#  outputTopic: output
#  errorTopic: error
#  productive: true
#
#commandLine:
#  MY_CLI_PARAM: "foo-bar"
#
#debug: false
#
env:
#  MY_ENV_VARIABLE: foo-bar
#
#secrets:
#  MY_SECRET: fo-bar

## Monitoring
## Kafka Connect JMX Settings
## ref: https://kafka.apache.org/documentation/#connect_monitoring
jmx:
  port: 5555
  metricRules:
    - ".*"

autoscaling:
  enabled: false
  # consumergroup: foo
  # lagThreshold: "1000"
  pollingInterval: 30
  cooldownPeriod: 300
  offsetResetPolicy: earliest
  minReplicas: 0
  # maxReplicas: 50
  ## all topics from streams.inputTopics are automatically taken, so
  ## only use the 'additionalTopics' option for adding more topics
  # topics:
  #   - bar
  #   - baz

annotations:
#  MY_ANNOTATION: "foo-bar"

statefulSet: false

javaOptions:
  maxRAMPercentage: 75
  others: []
#   - "-XX:MinRAMPercentage=50.0"

## Prometheus Exporter Configuration
## ref: https://prometheus.io/docs/instrumenting/exporters/
prometheus:
  ## JMX Exporter Configuration
  ## ref: https://github.com/prometheus/jmx_exporter
  jmx:
    enabled: true
    image: solsson/kafka-prometheus-jmx-exporter@sha256
    imageTag: 6f82e2b0464f50da8104acd7363fb9b995001ddff77d248379f8788e78946143
    port: 5556

    ## Resources configuration for the JMX exporter container.
    ## See the `resources` documentation above for details.
    resources:
      requests:
        cpu: 100m
        memory: 500Mi
      limits:
        cpu: 300m
        memory: 2G
