{{- if and .Values.persistence.enabled (not .Values.persistence.size) }}
{{- fail "When persistence is enabled, you must set .Values.persistence.size" }}
{{- end }}

{{- if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: apps/v1
{{- else }}
apiVersion: apps/v1beta1
{{- end }}
{{- if .Values.statefulSet }}
kind: StatefulSet
{{- else }}
kind: Deployment
{{- end }}
metadata:
  name: {{ include "common-app.fullname" . }}
  {{- include "common-app.deployment-annotations" . }}
  labels:
    {{- include "common-app.labels" . | nindent 4 }}
    streams-bootstrap/kind: {{ .Chart.Name }}
    {{- range $key, $value := .Values.labels }}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end }}
spec:
{{- include "common-app.deployment-spec" . }}
  template:
    metadata:
    {{- include "common-app.pod-metadata" . | indent 4 }}
    spec:
    {{- include "common-app.pod-spec" . | indent 4 }}
      {{- if or (.Values.prometheus.jmx.enabled) (.Values.files) (.Values.secretFilesRefs) }}
      volumes:
        {{- if .Values.prometheus.jmx.enabled }}
        - name: jmx-config
          configMap:
            name: {{ include "common-app.fullname" . }}-jmx
        {{- end }}
        {{- include "common-app.volumes" . | nindent 8 }}
      {{- end }}
      containers:
      {{- include "common-app.common-kafka-container" . | nindent 6 }}
        env:
        {{- include "common-app.common-env" . | nindent 10 }}
        {{- range .Values.ports }}
          {{- if .servicePort }} # TODO verify that there is at most one service port. Currently, if there are multiple service ports, the first one will be used
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: KAFKA_APPLICATION_SERVER
            value: "$(POD_IP):{{ .containerPort }}"
          {{- end }}
        {{- end }}
        {{- include "common-app.group-instance-id-env" . | indent 10 }}
        {{- include "common-app.input-env" . | indent 10 }}
        {{- include "common-app.output-env" . | indent 10 }}
        {{- include "common-app.error-env" . | indent 10 }}
        {{- if hasKey .Values.kafka "applicationId" }}
          - name: "{{ .Values.configurationEnvPrefix }}_APPLICATION_ID"
            value: {{ .Values.kafka.applicationId | quote }}
        {{- end }}
          - name: JAVA_TOOL_OPTIONS
            value: '{{ include "common-app.java-tool-jmx-options" . }}
              {{ include "common-app.java-tool-options" . }}'
      {{- if or (.Values.files) (and .Values.persistence.enabled .Values.statefulSet) (.Values.secretFilesRefs) }}
        volumeMounts:
          {{- include "common-app.volume-mounts" . | nindent 8 }}
          {{- if and .Values.persistence.enabled .Values.statefulSet }}
          - name: datadir
            mountPath: /tmp/kafka-streams
          {{- end }}
      {{- end }}
      {{- if or (.Values.jmx.enabled) (.Values.ports) }}
        ports:
          {{- include "common-app.ports" . | nindent 8 }}
          {{- if .Values.jmx.enabled }}
          - containerPort: {{ .Values.jmx.port }}
            name: jmx
          {{- end }}
      {{- end }}
      {{- if .Values.prometheus.jmx.enabled }}
    {{- include "common-app.prometheus-container" . | nindent 6 }}
      {{- end }}
