{{ if .Values.autoscaling.enabled }}
{{- $root := . -}}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ template "streams-app.fullname" . }}-so
spec:
  scaleTargetRef:
    {{- if .Capabilities.APIVersions.Has "apps/v1" }}
    apiVersion: apps/v1
    {{- else }}
    apiVersion: apps/v1beta1
    {{- end }}
    {{- if .Values.statefulSet }}
    kind: StatefulSet
    {{- else }}
    kind: Deployment
    {{- end }}
    name: {{ template "streams-app.fullname" . }}
  pollingInterval: {{ .Values.autoscaling.pollingInterval }}
  cooldownPeriod:  {{ .Values.autoscaling.cooldownPeriod }}
  minReplicaCount: {{ .Values.autoscaling.minReplicas }}
  maxReplicaCount: {{ .Values.autoscaling.maxReplicas }}
  {{- if hasKey .Values.autoscaling "idleReplicas" }}
  # Only available from KEDA 2.4 onwards
  idleReplicaCount: {{ .Values.autoscaling.idleReplicas }}
  {{- end }}
  triggers:
    # todo: concat .Values.streams.inputTopics and .Values.autoscaling.topics to 
    # minimize number of loops when we don't need to support helm 2 anymore
    {{- range .Values.streams.inputTopics }}
    - type: kafka
      metadata:
        bootstrapServers: {{ $root.Values.streams.brokers }}
        consumerGroup: {{ $root.Values.autoscaling.consumergroup }}
        topic: {{ . | quote }}
        lagThreshold: {{ $root.Values.autoscaling.lagThreshold | quote }}
        offsetResetPolicy: {{ $root.Values.autoscaling.offsetResetPolicy }}
    {{- end }}
    {{- range .Values.autoscaling.topics }}
    - type: kafka
      metadata:
        bootstrapServers: {{ $root.Values.streams.brokers }}
        consumerGroup: {{ $root.Values.autoscaling.consumergroup }}
        topic: {{ . | quote }}
        lagThreshold: {{ $root.Values.autoscaling.lagThreshold | quote }}
        offsetResetPolicy: {{ $root.Values.autoscaling.offsetResetPolicy }}
    {{- end }}
    {{- range $key, $value := .Values.streams.extraInputTopics }}
    {{- range $topic := $value }}
    - type: kafka
      metadata:
        bootstrapServers: {{ $root.Values.streams.brokers }}
        consumerGroup: {{ $root.Values.autoscaling.consumergroup }}
        topic: {{ $topic | quote }}
        lagThreshold: {{ $root.Values.autoscaling.lagThreshold | quote }}
        offsetResetPolicy: {{ $root.Values.autoscaling.offsetResetPolicy }}
    {{- end }}
    {{- end }}
{{ end }}
