{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "streams-app.fullname" . }}
  {{- include "streams-app.default-annotations" . }}
  labels:
    app: {{ template "streams-app.name" . }}
    chart: {{ template "streams-app.chart" . }}
    release: {{ .Release.Name }}
    {{- range $key, $value := .Values.service.labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  selector:
    app: {{ template "streams-app.name" . }}
    release: {{ .Release.Name }}
  ports:
  {{- range .Values.ports }}
    {{- if .servicePort }}
    - targetPort: {{ .containerPort }}
      port: {{ .servicePort }}
      name: {{ .name }}
      {{- if .protocol }}
      protocol: {{ .protocol }}
      {{- end }}
    {{- end }}
  {{- end }}
  type: {{ .Values.service.type }}
{{- end }}
