{{- define "consumerproducer-app.kafka-container" -}}
  {{- include "common-app.common-kafka-container" . }}
  env:
  {{- include "common-app.common-env" . | nindent 4 }}
  {{- range .Values.ports }}
    {{- if .servicePort }} # TODO verify that there is at most one service port. Currently, if there are multiple service ports, the first one will be used
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: KAFKA_APPLICATION_SERVER
      value: "$(POD_IP):{{ .containerPort }}"
    {{- end }}
  {{- end }}
  {{- include "common-app.group-instance-id-env" . | indent 4 }}
  {{- include "common-app.input-env" . | indent 4 }}
  {{- include "common-app.output-env" . | indent 4 }}
  {{- include "common-app.error-env" . | indent 4 }}
  {{- if hasKey .Values.kafka "groupId" }}
    - name: "{{ .Values.configurationEnvPrefix }}_GROUP_ID"
      value: {{ .Values.kafka.groupId | quote }}
  {{- end }}
    - name: JAVA_TOOL_OPTIONS
      value: '{{ include "common-app.java-tool-jmx-options" . }}
        {{ include "common-app.java-tool-options" . }}'
{{- if or (.Values.files) (and .Values.persistence.enabled .Values.statefulSet) (.Values.secretFilesRefs) }}
  volumeMounts:
    {{- include "common-app.volume-mounts" . | nindent 4 }}
    {{- if and .Values.persistence.enabled .Values.statefulSet }}
    - name: datadir
      mountPath: /tmp/kafka-streams
    {{- end }}
{{- end }}
{{- if or (.Values.jmx.enabled) (.Values.ports) }}
  ports:
    {{- include "common-app.ports" . | nindent 4 }}
    {{- if .Values.jmx.enabled }}
    - containerPort: {{ .Values.jmx.port }}
      name: jmx
    {{- end }}
{{- end }}
{{- end -}}
