{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "consumerproducer-app.fullname" . }}
  {{- include "consumerproducer-app.annotations" . }}
  labels:
    {{- include "consumerproducer-app.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.service.labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
  selector:
    {{- include "consumerproducer-app.selectorLabels" . | nindent 4 }}
  ports:
  {{- range .Values.ports }}
    {{- if .servicePort }}
    - targetPort: {{ .containerPort }}
      port: {{ .servicePort }}
      name: {{ .name }}
      {{- if .protocol }}
      protocol: {{ .protocol }}
      {{- end }}
    {{- end }}
  {{- end }}
  type: {{ .Values.service.type }}
{{- end }}
