name: Helm lint

on:
  push:

jobs:
  helm-lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Lint Helm chart
        uses: bakdata/ci-templates/actions/helm-lint@1.70.1
        with:
          lint-config-path: ".github/lint-config.yaml"
          ref: ${{ github.ref_name }}
