{{- define "common-app.cleanup-job" -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common-app.fullname" . }}
  {{- include "common-app.annotations" . }}
  labels:
    {{- include "common-app.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.labels }}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end }}
spec:
  ttlSecondsAfterFinished: 30
  template:
    metadata:
{{- include "common-app.pod-metadata" . | indent 4 }}
    spec:
{{- include "common-app.common-pod-spec" . | indent 4 }}
      restartPolicy: {{ .Values.restartPolicy }}
      containers:
        {{- include "common-app.common-kafka-container" . | nindent 8 }}
          args:
            {{- if .Values.kafka.deleteOutput }}
            - clean
            {{- else }}
            - reset
            {{- end }}
          env:
          {{- include "common-app.common-env" . | nindent 12 }}
            {{- if and (hasKey .Values.kafka "inputTopics") (.Values.kafka.inputTopics) }}
            - name: "{{ .Values.configurationEnvPrefix }}_INPUT_TOPICS"
              value: {{ .Values.kafka.inputTopics | join "," | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "inputPattern" }}
            - name: "{{ .Values.configurationEnvPrefix }}_INPUT_PATTERN"
              value: {{ .Values.kafka.inputPattern | join "," | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "outputTopic" }}
            - name: "{{ .Values.configurationEnvPrefix }}_OUTPUT_TOPIC"
              value: {{ .Values.kafka.outputTopic | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "errorTopic" }}
            - name: "{{ .Values.configurationEnvPrefix }}_ERROR_TOPIC"
              value: {{ .Values.kafka.errorTopic | quote }}
            {{- end }}
            {{- if and (hasKey .Values.kafka "labeledOutputTopics") (.Values.kafka.labeledOutputTopics) }}
            - name: "{{ .Values.configurationEnvPrefix }}_LABELED_OUTPUT_TOPICS"
              value: "{{- range $key, $value := .Values.kafka.labeledOutputTopics }}{{ $key }}={{ $value }},{{- end }}"
            {{- end }}
            {{- $delimiter := ";" }}
            {{- if and (hasKey .Values.kafka "labeledInputTopics") (.Values.kafka.labeledInputTopics) }}
            - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_TOPICS"
              value: "{{- range $key, $value := .Values.kafka.labeledInputTopics }}{{ $key }}={{ $value | join $delimiter }},{{- end }}"
            {{- end }}
            {{- if and (hasKey .Values.kafka "labeledInputPatterns") (.Values.kafka.labeledInputPatterns) }}
            - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_PATTERNS"
              value: "{{- range $key, $value := .Values.kafka.labeledInputPatterns }}{{ $key }}={{ $value }},{{- end }}"
            {{- end }}
            {{- if hasKey .Values.kafka "applicationId" }}
            - name: "{{ .Values.configurationEnvPrefix }}_APPLICATION_ID"
              value: {{ .Values.kafka.applicationId | quote }}
            {{- end }}
            {{- if hasKey .Values.kafka "groupId" }}
            - name: "{{ .Values.configurationEnvPrefix }}_GROUP_ID"
              value: {{ .Values.kafka.groupId | quote }}
            {{- end }}
            - name: JAVA_TOOL_OPTIONS
              value: '{{ include "common-app.java-tool-options" . }}'
          {{- if or (.Values.files) (.Values.secretFilesRefs) }}
          volumeMounts:
            {{- include "common-app.volume-mounts" . | nindent 12 }}
        {{- end }}
      {{- if or (.Values.files) (.Values.secretFilesRefs) }}
      volumes:
        {{- include "common-app.volumes" . | nindent 8 }}
      {{- end }}
  backoffLimit: {{ .Values.backoffLimit }}
{{- end -}}
