{{- define "common-app.kafka-container" -}}
  {{- include "common-app.common-kafka-container" . }}
  env:
  {{- include "common-app.common-env" . | nindent 4 }}
  {{- range .Values.ports }}
    {{- if .servicePort }} # TODO verify that there is at most one service port. Currently, if there are multiple service ports, the first one will be used
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: KAFKA_APPLICATION_SERVER
      value: "$(POD_IP):{{ .containerPort }}"
    {{- end }}
  {{- end }}
  {{- if .Values.kafka.staticMembership }}
    - name: KAFKA_GROUP_INSTANCE_ID
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
  {{- end }}
  {{- if not .Values.statefulSet }}
    - name: "{{ .Values.configurationEnvPrefix }}_VOLATILE_GROUP_INSTANCE_ID"
      value: "true"
  {{- end }}
  {{- if and (hasKey .Values.kafka "inputTopics") (.Values.kafka.inputTopics) }}
    - name: "{{ .Values.configurationEnvPrefix }}_INPUT_TOPICS"
      value: {{ .Values.kafka.inputTopics | join "," | quote }}
  {{- end }}
  {{- if hasKey .Values.kafka "inputPattern" }}
    - name: "{{ .Values.configurationEnvPrefix }}_INPUT_PATTERN"
      value: {{ .Values.kafka.inputPattern | quote }}
  {{- end }}
  {{- if hasKey .Values.kafka "outputTopic" }}
    - name: "{{ .Values.configurationEnvPrefix }}_OUTPUT_TOPIC"
      value: {{ .Values.kafka.outputTopic | quote }}
  {{- end }}
  {{- if hasKey .Values.kafka "errorTopic" }}
    - name: "{{ .Values.configurationEnvPrefix }}_ERROR_TOPIC"
      value: {{ .Values.kafka.errorTopic | quote }}
  {{- end }}
  {{- if and (hasKey .Values.kafka "labeledOutputTopics") (.Values.kafka.labeledOutputTopics) }}
    - name: "{{ .Values.configurationEnvPrefix }}_LABELED_OUTPUT_TOPICS"
      value: "{{- range $key, $value := .Values.kafka.labeledOutputTopics }}{{ $key }}={{ $value }},{{- end }}"
  {{- end }}
  {{- $delimiter := ";" }}
  {{- if and (hasKey .Values.kafka "labeledInputTopics") (.Values.kafka.labeledInputTopics) }}
    - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_TOPICS"
      value: "{{- range $key, $value := .Values.kafka.labeledInputTopics }}{{ $key }}={{ $value | join $delimiter }},{{- end }}"
  {{- end }}
  {{- if and (hasKey .Values.kafka "labeledInputPatterns") (.Values.kafka.labeledInputPatterns) }}
    - name: "{{ .Values.configurationEnvPrefix }}_LABELED_INPUT_PATTERNS"
      value: "{{- range $key, $value := .Values.kafka.labeledInputPatterns }}{{ $key }}={{ $value }},{{- end }}"
  {{- end }}
  {{- if hasKey .Values.kafka "applicationId" }}
    - name: "{{ .Values.configurationEnvPrefix }}_APPLICATION_ID"
      value: {{ .Values.kafka.applicationId | quote }}
  {{- end }}
  {{- if hasKey .Values.kafka "groupId" }}
    - name: "{{ .Values.configurationEnvPrefix }}_GROUP_ID"
      value: {{ .Values.kafka.groupId | quote }}
  {{- end }}
    - name: JAVA_TOOL_OPTIONS
      value: '-Dcom.sun.management.jmxremote.port={{ .Values.jmx.port }}
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
        {{- if .Values.jmx.enabled }}
        -Djava.rmi.server.hostname={{ .Values.jmx.host }}
        -Dcom.sun.management.jmxremote.rmi.port={{ .Values.jmx.port }}
        {{- end }}
        -XX:MaxRAMPercentage={{ printf "%.1f" .Values.javaOptions.maxRAMPercentage }}
        {{ .Values.javaOptions.others | join " " }}'
{{- if or (.Values.files) (and .Values.persistence.enabled .Values.statefulSet) (.Values.secretFilesRefs) }}
  volumeMounts:
    {{- include "common-app.volume-mounts" . | nindent 4 }}
    {{- if and .Values.persistence.enabled .Values.statefulSet }}
    - name: datadir
      mountPath: /tmp/kafka-streams
    {{- end }}
{{- end }}
{{- if or (.Values.jmx.enabled) (.Values.ports) }}
  ports:
    {{- range .Values.ports }}
    - containerPort: {{ .containerPort }}
      name: {{ .name | quote }}
      {{- if .protocol }}
      protocol: {{ .protocol | quote }}
      {{- end }}
    {{- end }}
    {{- if .Values.jmx.enabled }}
    - containerPort: {{ .Values.jmx.port }}
      name: jmx
    {{- end }}
{{- end }}
  {{- if .Values.livenessProbe }}
  livenessProbe:
  {{- .Values.livenessProbe | toYaml | nindent 4 }}
  {{- end }}
  {{- if .Values.readinessProbe }}
  readinessProbe:
  {{- .Values.readinessProbe | toYaml | nindent 4 }}
  {{- end }}
{{- end -}}
