{{- define "common-app.pod" -}}
metadata:
{{- include "common-app.pod-metadata" . }}
spec:
{{- include "common-app.pod-spec" . }}
  containers:
{{- include "common-app.kafka-container" . | nindent 4 }}
  {{- if .Values.prometheus.jmx.enabled }}
{{- include "common-app.prometheus-container" . | nindent 4 }}
  {{- end }}
{{- end -}}
