{{- define "common-app.pod" -}}
metadata:
{{- if or .Values.podAnnotations .Values.files }}
  annotations:
  {{- if .Values.files }}
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
  {{- end }}
  {{- range $key, $value := .Values.podAnnotations }}
    {{ $key | quote }}: {{ $value | quote }}
  {{- end }}
{{- end }}
  labels:
    {{- include "common-app.selectorLabels" . | nindent 4 }}
    streams-bootstrap/kind: {{ .Chart.Name }}
    {{- range $key, $value := .Values.podLabels }}
    {{ $key }}: {{ $value }}
    {{- end }}
spec:
{{- include "common-app.pod-spec" . }}
  containers:
{{- include "common-app.kafka-container" . | nindent 4 }}
  {{- if .Values.prometheus.jmx.enabled }}
{{- include "common-app.prometheus-container" . | nindent 4 }}
  {{- end }}
{{- end -}}
